@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* background image color */
.bg-background {
  background-color: #0F051D;
}

/* background Image */
.bg-bk-img {
  height: 100%;
  background-image: url('/background.jpg');
  background-size: 102%;
  background-repeat: no-repeat;
  animation: animatedBackground 10s linear alternate infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% { background-position: 50% 0; }
  100% { background-position: 0 0; }
}